.results__grid-container {
  margin: 0 0 64px;
  display: grid;
  grid-template: auto/repeat(3, auto);
  grid-gap: 16px;
}

@media screen and (max-width: 1024px) {
  .results__grid-container {
    margin: 0 0 32px;
    grid-gap: 8px;
  }
}

@media screen and (max-width: 700px) {
  .results__grid-container {
    grid-template: auto/repeat(2, auto);
  }
}

@media screen and (max-width: 500px) {
  .results__grid-container {
    margin: 0 0 16px;
    grid-template: auto/auto;
    grid-gap: 10px;
  }
}