.search__input {
  max-width: 608px;
  height: 64px;
  margin: 0;
  padding: 0 0 0 24px;
  background: #fff;
  border: 1px solid #d1d2d6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  outline: none;
}

.search__input::placeholder {
  color: #b6bcbf;
}

.search__input:hover {
  border-color:  #2f71e5;
  backdrop-filter: blur(8px);
}

.search__input:focus {
  border-color:  #2f71e5;
  backdrop-filter: blur(8px);
}

@media screen and (max-width: 1024px) {
  .search__input {
    height: 56px;
  }
}

@media screen and (max-width: 500px) {
  .search__input {
    width: 100%;
    padding: 0 0 0 16px;
  }
}