.header__button_type_logout {
  padding: 0 35px 0 12px;
  position: relative;
}

.header__button_type_logout::before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../../../../images/logout_icon/logout_icon.svg);
}

.header__button_type_logout:hover {
  animation: none;
  box-shadow: 0 0 2px 2px crimson;
}

.header__button_type_logout:focus {
  border: 1px solid crimson;
  color: crimson;
  box-shadow: none;
}

@media screen and (max-width: 1024px) {
  .header__button_type_logout::before {
    top: 6px;
  }
}