.header__mobile-button {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  position: relative;
  display: none;
  outline: none;
}

.header__mobile-button::before {
  content: '';
  width: 16px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 4px;
  transition: .25s ease-out;
}

.header__mobile-button::after {
  content: '';
  width: 16px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 8px;
  left: 4px;
  transition: .25s ease-out;
}

@media screen and (max-width: 700px) {
  .header__mobile-button {
    display: inline-block;
  }
}