@import url('./__content/about__content.css');
@import url('./__picture/about__picture.css');
@import url('./__text-column/about__text-column.css');
@import url('./__title/about__title.css');
@import url('./__text/about__text.css');

.about {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-family: Roboto, Arial, sans-serif;
  color: #1a1b22;
}