.search__title {
  max-width: 608px;
  margin: 0 0 32px;
  font-family: Roboto Slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
}

@media screen and (max-width: 1024px) {
  .search__title {
    max-width: 385px;
    margin: 0 0 16px;
    font-size: 36px;
    line-height: 40px;
  }
}