.article__img {
  width: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .article__img {
    max-height: 150px;
    object-fit: cover;
  }
}

@media screen and (max-width: 500px) {
  .article__img {
    max-height: 196px;
  }
}