.header__title {
  margin: 0;
  font-family: Roboto Slab, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}