.header__link {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #b6bcbf;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .header__link {
    color: #fff;
  }
}

@media screen and (max-width: 600px) {
  .header__link {
    width: 100%;
    line-height: 56px;
  }
}