.footer__link {
  margin: 0 40px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .footer__link {
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 375px) {
  .footer__link {
    margin: 0;
    order: 3;
    text-align: left;
  }
  .footer__link:first-of-type {
    order: 1;
  }
}