.not-found {
  max-width: 320px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto Slab, Arial, sans-serif;
}

.not-found__img {
  margin: 0 0 20px;
}

.not-found__title {
  margin: 0 0 16px;
  font-weight: normal;
  font-size: 26px;
  line-height: 1;
  color: #1a1b22;
}

.not-found__text {
  margin: 0;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #b6bcbf;
}

@media screen and (max-width: 1024px) {
  .not-found {
    padding: 40px 0;
  }
}