.about__picture {
  width: 464px;
  height: 464px;
  margin: 0 56px 0 0;
  padding: 0;
  border-radius: 50%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .about__picture {
    max-width: 232px;
    max-height: 232px;
    margin: 0 32px 0 0;
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .about__picture {
    max-width: 272px;
    max-height: 272px;
    margin: 0 0 24px;
  }
}