.footer__content {
  max-width: 1440px;
  width: 100%;
  margin: 0;
  padding: 0 104px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer__content {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .footer__content {
    padding: 20px 16px;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 375px) {
  .footer__content {
    align-items: flex-start;
  }
}