.results__button {
  width: 288px;
  height: 64px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  border: none;
  border-radius: 80px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
  cursor: pointer;
  outline: none;
}

.results__button:hover {
  animation: move 2.5s linear infinite normal;
  background-color: #e6e8eb
}

@media screen and (max-width: 1024px) {
  .results__button {
    width: 240px;
    height: 56px;
  }
}

@keyframes move {
  from { transform: translate(0, -5px) }
  25% { transform: translate(5px, 0) }
  50% { transform: translate(0, 5px) }
  75% { transform: translate(-5px, 0) }
  to { transform: translate(0, -5px) }
}