.footer__nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer__nav {
    margin: 0 0 15px;
  }
}

@media screen and (max-width: 375px) {
  .footer__nav {
    margin: 0 0 38px;
    display: grid;
    grid-template: auto/200px auto;
    grid-gap: 26px 16px;
  }
}