.article__button-container {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
}

.article__button-container:hover .article__explanation {
  display: inline-block;
}

.article__button-container_logged:hover .article__explanation {
  display: none;
}

.article__button-container:hover .article__button_type_save {
  background-image: url(../../../images/save_icon/save_icon_hover.svg);
}

.article__button-container:hover .article__button_active {
  background-image: url(../../../images/save_icon/saved_icon.svg);
}

.article__button-container:hover .article__button_type_trash {
  background-image: url(../../../images/trash_icon/trash_icon_hover.svg);
}

@media screen and (max-width: 1024px) {
  .article__button-container {
    top: 8px;
    right: 8px;
  }
}

@media screen and (max-width: 500px) {
  .article__button-container {
    top: 16px;
    right: 16px;
  }
}