.popup__submit-button_active {
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  color: #fff;
  cursor: pointer;
}

.popup__submit-button_active:hover {
  background: #347EFF;
}

.popup__submit-button_active:focus {
  background: #2A65CC;
}