.about__text-column {
  max-width: 600px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .about__text-column {
    max-width: 424px;
  }
}

@media screen and (max-width: 600px) {
  .about__text-column {
    max-width: 100%;
  }
}