.info__text {
  margin: 0 0 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(27, 28, 35, 0.5)
}

@media screen and (max-width: 1024px) {
  .info__text {
    margin: 0 0 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .info__text {
    font-size: 12px;
  }
}