.about__content {
  max-width: 1440px;
  width: 100%;
  margin: 0;
  padding: 80px 104px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .about__content {
    min-height: 354px;
    padding: 40px;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .about__content {
    padding: 32px 16px 80px;
  }
}